body {
    padding-top: 50px;
    padding-bottom: 0px;
}

#queryresults .thumbnails {
    padding-top: 20px;
}

/*Temporary until Bootstrap theme completion*/

.navbar.navbar-default.navbar-fixed-top {
    background: #00512B;
}

.jumbotron {
    padding-top: 20px; 
    padding-bottom: 20px; 
    background: #016d39;
}

#carousel-example-generic {
    max-width: 643px;
    margin-right: 5%;
}

#showcase h3 {
    margin-top: 0px; 
    color: white;
}

#loginmenu {
   width: 350px;
}

.textbox {
    padding: 10px;
} 

.form-addProject {
    max-width: 700px;
    padding: 0 50px 25px 50px;
    border: 1px solid #eceef3;
}

/* End Temp*/

#showcase {
    overflow: hidden;
}

.showcaseThumb {
    overflow: hidden;
    height: 150px;
    text-align: center;
}

.showcaseThumb img {
    max-width: 100%;
    max-height: 60%;
}

.thumbnails a {
    text-decoration: none;
    color: #000;
    height: 100%;
    padding-bottom: 15px;

}

.thumbnails {
    height: 150px;
    padding-right: 0px;
    padding-bottom: 15px;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.projects_list {
    border: 1px solid grey;
	list-style-type: none;
	padding-left: 0px;
	margin-top: 0px;
}

.projects_list li a { 
	text-decoration:none;
	display: block;
	color: #000000;
	border-bottom:solid 1px #CCCCCC;
	padding: 8px;
}

.projects_list li a:hover {
	background-color: #c6930a;
	color: white;
}

.selector {
    list-style: none;
	margin: 0;
    padding: 0px; 
    padding-top: 20px; 
    margin-bottom: 20px; 
    display: inline-block;
}

.selector li { 
	display: inline;
	margin: 0 0.5em 0 0;
}
