<div class="container">
  <div class="row col-lg-12">
    <h1>About Us</h1>
    <p>Welcome to Cal Poly Pomona. We&#39;re glad that you&#39;re interested in learning about our campus.</p>
    <p>As one of only two polytechnic universities in the state, Cal Poly Pomona is known for academic excellence, hands-on learning and affordable tuition fees. Education takes place both within and beyond the classroom, and students tackle real-world challenges, giving them an advantage as career-ready graduates.</p>
    <p>Learning about technology in a classroom is safe.  The real test of a student&#39;s learning is their ability to apply their knowledge in the unpredictable world of changing requirements, technological problems and deadlines. For this reason, Senior Project is a long standing tradition for the CIS Department.  It is the capstone course, where students demonstrate their ability to apply what they&#39;ve learned in a team setting.</p>
    <img class="img-responsive" src="Images/cpp0007.JPG">
  </div>
</div>