<div class="container">
      <form class="form-addProject">
        <h2>Add Project</h2>
          <fieldset>
              <legend>Project Information</legend>
              <div class="form-group">
                  <label class="control-label">Name</label>
                  <div class="controls">
                      <input type="text" class="form-control">
                  </div>
                  <br />
                  <label class="control-label">Description</label>
                  <div class="controls">
                      <textarea rows="15" class="form-control"></textarea>
                  </div>
              </div>
          </fieldset>
          <fieldset>
              <legend>Technology or Application <small style="font-size: 16px; color: #999999;">select all that apply</small></legend>
              <div class="btn-group" data-toggle="buttons-radio">
                  <button type="button" class="btn col-xs-12 col-sm-6 btn-default">New to your organization?</button>
                  <button type="button" class="btn col-xs-12 col-sm-6 btn-default">Add-On Module or Enhancement?</button>
                  <button type="button" class="btn col-xs-12 col-sm-6 btn-default">Replacement for existing?</button>
                  <button type="button" class="btn col-xs-12 col-sm-6 btn-default">Client for existing database?</button>
              </div>
          </fieldset>
          <br />
          <fieldset>
              <legend>Technological Requirements <small style="font-size: 16px; color: #999999;">select all that apply</small></legend>
              <div class="btn-group" data-toggle="buttons-radio">
                  <button type="button" class="btn col-xs-12 col-sm-6 btn-default">I have a server or host</button>
                  <button type="button" class="btn col-xs-12 col-sm-6 btn-default">I am able to upgrade</button>
                  <button type="button" class="btn col-xs-12 col-sm-6 btn-default">I require a new server or host</button>
                  <button type="button" class="btn col-xs-12 col-sm-6 btn-default">I use new/anticipated software</button>
              </div>
          </fieldset>
          <hr />
          <button type="button" class="btn btn-success">Submit</button>
      </form>
</div>