<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-lg-4">
            <h2>Location</h2>
            <p>
                Cal Poly Pomona<br />
                3801 West Temple Avenue<br />
                Pomona, California 91768<br />
                Phone:&nbsp;<a href="tel:%2B1%20909%20869%207659" target="_blank" value="+19098697659">+1 909 869 7659</a>
            </p>
            <a class="btn btn-default" href="#">View details &raquo;</a>
        </div>
        <div class="col-lg-8">
            <h2>Contact Us</h2>
            <p>Please fill out the form below to send us an email.</p>
            <div class="form-group">
                <label class="control-label">Your Name</label>
                <div class="controls">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Your Email Address:</label>
                <div class="controls">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Your Subject</label>
                <div class="controls">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <div class="controls"></div>
                <label class="form-label">Your Message</label>
            </div>
            <textarea class="form-control"></textarea>
            <div class="drag-mask" data-ds-form="text_field" style="width: 750px; height: 34px;"></div>
            <div class="btn-group">
                <a class="btn btn-default">Submit</a>
            </div>
            <p></p>
        </div>
    </div>
</div>
<!-- /container -->