<div class="container">

  <form action="/register" method="post" class="form-signin">
    <h2 class="form-signin-heading">Sign Up</h2>
    <input type="text" name="username" class="form-control" placeholder="Username" required>
      <input type="password" name="password" style="margin-bottom: 0;" class="form-control" placeholder="Password" required>
    <input type="password" name="confirmpassword" class="form-control" placeholder="Confirm Password" required>
    <button class="btn btn-lg btn-success btn-block" type="submit">Create an Account</button>
  </form>

</div>