<div class="container">
    <div class="col-lg-6">
     <h2 class="form-signin-heading">Create your Account</h2>
        <ul>
            <li>Request Projects</li>
            <li>Contribute to Cal Poly CIS Department</li>
        </ul>
    </div>
    <div class="col-lg-6">
  <form action="/Account/JsonRegister" method="post" class="form-signin">
    <h2 class="form-signin-heading">Sign Up</h2>
    <label>Email</label>
    <input type="text" name="username" class="form-control" placeholder="Username" required> <br />
    <label>First Name</label>
    <input type="text" name="firstName" class="form-control" placeholder="First Name" required> <br />
    <label>Last Name</label>
    <input type="text" name="lastName" class="form-control" placeholder="Last Name" required> <br />
    <label>Password</label>
      <input type="password" name="password" style="margin-bottom: 0;" class="form-control" placeholder="Password" required> <br />
    <label>Confirm Password</label>
      <input type="password" name="confirmpassword" class="form-control" placeholder="Confirm Password" required><br />
    <button class="btn btn-lg btn-success btn-block" type="submit">Next Step</button>
  </form>
    </div>
</div>
    