<div class="container">
    <!-- Example row of columns -->
    <div class="row col-lg-12">
      <h2>How our students can help</h2>
      <p>As one of nine polytechnic universities nationwide, Cal Poly Pomona integrates a learn-by-doing approach into its project and presentation-based coursework. This long-standing polytechnic approach makes it unique among traditional universities and has earned Cal Poly Pomona the reputation of developing individuals who are among the most sought after in today&#39;s marketplace.</p>
      <p>A nationally-recognized public university with a number of highly respected and ranked programs, Cal Poly Pomona provides its students an excellent environment for academic, personal and professional success. The U.S. Department of Education, U.S. News &amp; World Report, Black Issues in Higher Education, Design Intelligence, Hispanic Outlook Magazine, Journal of Hospitality Management, Los Angeles Times Business Journal and Project Connect have ranked Cal Poly Pomona in numerous categories.</p>
      <h3>Did you know?</h3>
      <p><i>Cal Poly Pomona is ranked among the best public universities in the West, ranked 11th among the best colleges in the United States by <a href="http://www.studentsreview.com" target="_blank">www.studentsreview.com</a> and tenth most diverse among regional universities in the nation by the West by U.S. News &amp; World Report.</i></p>
      <img class="img-responsive" src="Images/mission-values.jpg">
    </div>
</div>
<!-- /container -->