<div class="container">
    <div class="row col-lg-12">
        <h2>What is CPP Senior Project?<br></h2>
        <img src="Images\11Orientation-counseling2-640.jpg" width="400">
        <img src="Images\images[1].jpg" width="400">
        <p>
            <br>
            As one of the two polytechnic universities in the California, we value the hands-on learning experience. With the Senior Project, the students will have the opportunity to practice their understanding and demonstrate their ability to apply what they&#39;ve learned in a team setting.<br>
        </p><br>
        <h2>Why CIS Does a Rigorous Senior Project</h2>
        <p>
            According to Joel Spolsky in his
            <a href="http://www.joelonsoftware.com/items/2009/10/26.html" target="_blank">Capstone projects and time management</a> article, most Computer Science students do not have the opportunities to experience the real-world work environment where they have to collaborate with other colleagues and resolve client-facing issues. The knowledge they gain through the classroom is only the building block to prepare them for their career. Threfore, we want to prepare our students for the real-world enviroment and situations before they done with school and step into their carrers.
        </p>
    </div>
</div>